*{margin: 0;padding: 0;font-family:"Microsoft Yahei";}
body{background: #ddd;}
a:link,a:visited{color:blue;text-decoration: none;}
a:hover,a:active{color:red;}

.top{background: #404040;width:100%;height: 75px;min-width: 720px;}
.top img{position: relative;left: 25px;top:5px;}
.top ul{float: right;margin-top: 23px;font-size: 14px;}
.top li{width: 90px;float: left;}
.top a{color:white;text-decoration: none;}
.top a:hover{color: #ee2323;}

.right{float:right;background: #fff;width: 400px;margin: 15px;border:1px solid #aaa;box-shadow: 2px 2px 3px #555;}
aside h4{padding:17px;border-left:5px solid #808080;margin: 12px;}
.right div{padding: 5px;}
.right span{position: relative;right: 260px;float:right;}
.right input,.cityname,textarea,label{position: relative;left: 150px;}
.submit input{width:320px;height:45px;background:#0934bb;border:0px;outline:0px;border-radius: 7px;left:50%;margin-left:-160px; font-size: 1.3em;color:white;}
.right p{margin-left:155px;font-size: 0.9em;color:#999;margin-top: 4px;margin-bottom: 10px;}

.left{margin-right: 425px;}
.author{color: #727272;font-size: 13px;}
.essay,.picture{background: #FFF;margin:15px;padding: 33px 20px;border: 1px solid #aaa;box-shadow: 1px 1px 2px #5a5a5a;}
.essay h3{color: #606060;font-size: 16px;}
.essay img{width:100%;max-width: 400px;margin: 10px 0px;}
.essay ul{margin-left: 25px;list-style-type: none;}
.essay ol{margin-left: 35px;font-weight: 500;}

.div_pic{text-align: center;border: 1px solid #aaa;margin: 10px;padding: 10px;display: inline-block;}
.picture img{max-width:190px;height: 140px;margin-top: 10px;}
table{width: 99%;border-collapse: collapse;margin: 0 auto;}
thead{background-color: #202020;color: white;}
tfoot{background-color: #a1a1a1;}
td{padding: 3px;}

.content{min-width: 720px;overflow: auto;}
.footer{width: 100%;height: 60px;background-color: #111;color: white;min-width: 720px;}
.footer span{position: absolute;width: 80px;line-height: 60px;left: 50%;margin-left: -40px;}

