*{
	margin: 0px;
	padding: 0px;
	font-family:"Microsoft YaHei";
}
a{
	color: blue;
}
a:hover{
	color: #ee2323;
}
body{
	background: #ddd;
}
.top{
	height: 75px;
	background: #555;
}
.top ul{
	font-size: 14px;
	float: right;
	position: relative;
	top: 28px;
}
.top li{
	width: 90px;
	float: left;
}
.top a{
	color: white;
	text-decoration: none;
}
.top a:hover{
	color: #ee2323;
}
.top img{
	position: relative;
	left: 30px;
}
.essay{
	width: 94%;
	background: white;
	margin: 26px auto;
	padding: 33px 20px;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 2px #5a5a5a;
}
.third{
	color: #606060;
	font-size: 16px;
}
.author{
	color: #727272;
	font-size: 13px;
}
p{
	text-indent: 32px;
	line-height: 23px;
}
.essay ul{
	margin-left: 25px;
	list-style-type: none;
}
.div1{
	text-align: center;
	border: 1px solid #aaa;
	width: 245px;
	height: 181px;
	margin: 10px;
	padding: 15px;
}
.div1 img{
	width: 245px;
	height: 160px;
}
.essay ol{
	margin-left: 35px;
}
table{
	width: 99%;
	border-collapse: collapse;
	margin: 0 auto;
}
thead{
	background-color: #202020;
	color: white;
}
tfoot{
	background-color: #a1a1a1;
}
form{
	position: relative;
	margin-left: 10%;
}
.LeftLabel{
	width: 200px;
	position: absolute;
}
.Llabel{
	float: right;
}
.RightLabel{
	width: 400px;
	position: relative;
	left: 250px;
	top: 0px;
}
.remind{
	color: #737373;
	font-size: 0.8em;
}
.submit input{
	width: 96%;
	height: 40px;
	background: #0066ff;
	position: relative;
	top: 10px;
	border: 0px;
	border-radius: 7px;
	color: white;
	font-size: 1.1em;
}
.foot{
	height: 60px;
	position: relative;
	background-color: #111;
	color: white;
	vertical-align: middle;
}
.foot span{
	position: absolute;
	width: 80px;
	line-height: 60px;
	left: 50%;
	margin-left: -40px;
}