*{margin: 0;padding: 0;}
body{font-family: Helvetica,Arial,"Microsoft YaHei";}

.header{height:56px;background: #2189BE;position: relative;min-width: 1280px;}
.header_right{position: absolute;right: 80px;top:10px;}
.header_search{width:310px;height: 28px;border:0;outline:0;border-radius: 15px;display: inline-block;
	background: #FFF url('9_1.jpg') no-repeat 16px 2px;}
.header_search>input{margin-left: 45px;height: 28px;border: 0;outline: 0;line-height: 28px;}
.header_login{display: inline-block;}
.header_login>p{display: inline-block;}
.header_login>img{position: relative;top: 5px;left: 4px;}
.header_left{width:34px;height: 34px;background: transparent;border-top: 17px solid #FFF;border-left: 17px solid #FFF;
	box-sizing: border-box;position: relative;top: 10px;left: 49px;box-shadow: 0 0 2px #FFF}
.header_left_inner{width:14px;height: 14px;background: #FFF;position: absolute;top: 0px;left:0px;border: 3px solid #2189BE;}

.container{width:1280px;}
.siderbar{width: 260px;height:860px;background: #2a2e3d;float:left;}

.side_name{margin-top:18px;margin-left:45px;}
.side_name>div{width:60px;height: 60px;border-radius: 50%;background: #b9babe;display:inline-block;
	box-shadow: inset 0 0 0 2px #b9babe,inset 0 0 0 6px #2a2e3d;vertical-align: middle;}
.side_collect{width:50%;display: inline-block;outline: 0;border: 0;color:#576578;margin:25px 0;box-sizing: border-box;}
.collect1{float:left;border-right: 1px solid #576579;}
.collect1{border-left:1px solid 3576579;}

.side_list{color:#576579;font-size: 0.8em;}
.side_list img{color:#000;margin-right: 10px;}
.side_list>ul>li{padding: 0 45px;}
.side_list li{list-style-type: none;line-height: 21px;margin:10px 0;}
.side_list span{color:#EEEEEE;}
.baobiao{background: #383d4e;}
.wenjian{padding-left: 40px;}
.wendang{padding-left: 40px;}


.font_1{font-size: 0.7em;color:white;font-family: "SimHei";}
.font_2{color:#EEE;display: inline-block;margin-left: 13px;}
.font_3,.font_4{text-align: center;}
.font_4{font-size: 0.8em;font-weight: 600;}